
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot Password";
}

<form id="forgot-password-form" action="/account/forgotpassword/" method="post">
    <div class="panel-heading">
        <h4 class="text-center">Reset your password for<br /><strong class="text-custom">Beis Medrash Program</strong></h4>
    </div>
    <div class="p-20">
        <p class="">Enter your email address below and we'll send you a link to reset your password.</p>
        <label for="email">Email:</label>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon glyphicon-lock"></span> </div>
                <input type="text" name="email" placeholder="Email" class="form-control" id="email" />
            </div>
            <div class="error"></div>
        </div>
        <button class="btn btn-primary submit-btn" type="button" id="submit-button">Send reset link</button>
        <div class="link-sec">
            <div class="left-link"><a href="/account/login/">Login</a></div>
            <div class="clearfix"></div>
        </div>
    </div>
</form>

@section scripts
{
    <script src="~/Scripts/Account/forgotpassword.js"></script>
}