@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Sent Email - Forgot";
}

<div class="panel-heading">
    <h4 class="text-center"><strong class="text-custom">Beis Medrash Program</strong></h4>
</div>
<div class="p-20">
    <p>Please check your email shortly for a link to reset your password.</p>

    <div class="link-sec">
        <div class="left-link"><a href="/account/login/">Login</a></div>
        <div class="clearfix"></div>
    </div>
</div>