
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}

<a href="/Account/">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-one">
            <i class="fa fa-tachometer dashboard-div-icon"></i>
            <h2 class="dashboard-div-text">Dashboard</h2>
        </div>
    </div>
</a>

<a href="/Account/ProfilePage/">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-two">
            <i class="fa fa-user dashboard-div-icon"></i>
            <h2 class="dashboard-div-text">My Profile</h2>
        </div>
    </div>
</a>
