<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BeisMedrashProgram.data.Properties.Settings.BeisMedrashProgramConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=BeisMedrashProgram;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>